<ui:composition template="/WEB-INF/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core">
	
	<ui:param name="homeActivePage" value="false" />
	<ui:param name="fornecedorActivePage" value="false" />
	<ui:param name="clienteActivePage" value="false" />
	<ui:param name="processoActivePage" value="true" />
	<ui:param name="contratoActivePage" value="false" />
	<ui:param name="usuarioActivePage" value="false" />
	
	<ui:param name="title" value="Processo" />
	
	<ui:define name="content">	
		<ui:include src="/processo/toolbar.xhtml">
		</ui:include>
		<div class="spacer">
			<h2>Lista de Processos</h2>
			
		</div>
	</ui:define>
</ui:composition>