<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<div class="toolbar">
		<h:link href="#{request.contextPath}/" styleClass="pure-button">
			<i class="icon-list"></i> Visualizar Clientes</h:link>
		<h:link href="#{request.contextPath}/" styleClass="pure-button">
			<i class="icon-plus"></i> Novo Cliente</h:link>
	</div>
</ui:composition>