<ui:composition template="/WEB-INF/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	
	<ui:param name="title" value="Cadastro de Cliente" />
	
	<ui:define name="content">
		<h2>Cadastro de Cliente</h2>
		<p:panel header="Preencha o formulário abaixo">
			<h:form>
				<p:messages id="msgs" globalOnly="true"/>
				<h:panelGrid columns="3" id="painel-cadastro">
					<h:outputLabel value="Nome: " for="campo-nome" />
					<p:inputText value="#{clienteBean.cliente.nome}" id="campo-nome" required="true"/>
					<p:message for="campo-nome" />
					<h:outputLabel value="Razão Social: " for="campo-razaosocial" />
					<p:inputText value="#{clienteBean.cliente.razaoSocial}" id="campo-razaosocial" required="true"/>
					<p:message for="campo-razaosocial" />
					<h:outputLabel value="CNPJ: " for="campo-cnpj" />
					<p:inputMask value="#{clienteBean.cliente.cnpj}" id="campo-cnpj" required="true" mask="99.999.999/9999-99"/>
					<p:message for="campo-cnpj" />
					<h:outputLabel value="IE: " for="campo-ie" />
					<p:inputMask value="#{clienteBean.cliente.ie}" id="campo-ie" required="true" mask="999.999.999-9999"/>
					<p:message for="campo-ie" />
					<h:outputLabel value="IM: " for="campo-im" />
					<p:inputMask value="#{clienteBean.cliente.im}" id="campo-im" required="true" mask="999.999.999-9999"/>
					<p:message for="campo-im" />
				</h:panelGrid>
				<p:commandButton value="Cadastrar" update="painel-cadastro" actionListener="#{clienteBean.adicionaCliente}" ajax="false"/>
			</h:form>
		</p:panel>
	</ui:define>
</ui:composition>