<ui:composition template="/WEB-INF/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	
	<ui:param name="title" value="Cadastro de Usuário" />
	
	<ui:define name="content">
		<h2>Cadastro de Usuário</h2>
		<p:panel header="Preencha o formulário abaixo">
			<h:form>
				<p:messages id="msgs" globalOnly="true"/>
				<h:panelGrid columns="3" id="painel-cadastro">
					<h:outputLabel value="Nome: " for="campo-nome" />
					<p:inputText value="#{usuarioBean.usuario.nome}" id="campo-nome" required="true"/>
					<p:message for="campo-nome" />
				
					<h:outputLabel value="Email: " for="campo-email" />
					<p:inputText value="#{usuarioBean.usuario.email}" id="campo-email" required="true"/>
					<p:message for="campo-email" />
				
					<h:outputLabel value="Login: " for="campo-login" />
					<p:inputText value="#{usuarioBean.usuario.login}" id="campo-login" required="true"/>
					<p:message for="campo-login" />
				
					<h:outputLabel value="Senha: " for="campo-senha1" />
					<p:password value="#{usuarioBean.usuario.senha}" id="campo-senha1" required="true" feedback="true"   
	                        promptLabel="Informe sua senha" weakLabel="Fraca"  
	                        goodLabel="Razoável" strongLabel="Forte" match="campo-senha2"/>
					<p:message for="campo-senha1" />
					
					<h:outputLabel value="Repita a senha: " for="campo-senha2" />
					<p:password value="#{usuarioBean.usuario.senha}" id="campo-senha2" required="true" feedback="true"   
	                        promptLabel="Informe sua senha" weakLabel="Fraca"  
	                        goodLabel="Razoável" strongLabel="Forte" />
					<p:message for="campo-senha2" />
					
					<h:outputText value="Administrador: " /> 
					<p:selectBooleanButton value="#{usuarioBean.usuario.admin}" onLabel="Sim" offLabel="Não" /> 
				</h:panelGrid>
				<p:commandButton value="Cadastrar" update="painel-cadastro" actionListener="#{usuarioBean.adicionaUsuario}" ajax="false"/>
			</h:form>
		</p:panel>
	</ui:define>
</ui:composition>