<ui:composition template="/WEB-INF/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
	
	<ui:param name="title" value="Usuário" />
	
	<ui:define name="content">
		<h2>Lista de Usuários</h2>
		<h:form id="form">
			<p:growl id="msgs" showDetail="true" globalOnly="true"/>
			<p:dataTable id="lista-usuarios" value="#{usuarioBean.appBean.usuarios}" var="usuarioAnalisado" emptyMessage="Não há registros..." paginator="true" rows="20"  
                paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" 
                currentPageReportTemplate="{currentPage} de {totalPages}"
                rowsPerPageTemplate="5,10,20,30">
				<p:column sortBy="#{usuarioAnalisado.id}" headerText="ID" style="width:5%">
					<h:outputText value="#{usuarioAnalisado.id}" />
				</p:column>
				<p:column sortBy="#{usuarioAnalisado.admin}" headerText="Admin" style="width:5%">
					<h:outputText styleClass="ui-icon ui-icon-check" rendered="#{usuarioAnalisado.admin}"/>
				</p:column>
				<p:column sortBy="#{usuarioAnalisado.nome}" headerText="Nome" style="width:30%">
					<h:outputText value="#{usuarioAnalisado.nome}" />
				</p:column>
				<p:column sortBy="#{usuarioAnalisado.login}" headerText="Login" style="width:20%">
					<h:outputText value="#{usuarioAnalisado.login}" />
				</p:column>
				<p:column sortBy="#{usuarioAnalisado.email}" headerText="Email" style="width:30%">
					<h:outputText value="#{usuarioAnalisado.email}" />
				</p:column>
				<p:column headerText="Ações" style="width:10%">
					<p:commandButton id="selectButton" update=":userDlg" oncomplete="userDialog.show()" icon="ui-icon-key" title="Trocar senha">
						<f:setPropertyActionListener value="#{usuarioAnalisado}" target="#{usuarioBean.usuarioAnalisado}" />
					</p:commandButton> 
					<p:commandButton id="deleteButton" update=":deleteDlg" oncomplete="deleteDialog.show()" icon="ui-icon-trash" title="Deletar usuário">  
				        <f:setPropertyActionListener value="#{usuarioAnalisado}" target="#{usuarioBean.usuarioAnalisado}" />
					</p:commandButton>
				</p:column>
			</p:dataTable>
			<p:blockUI block="lista-usuarios" trigger="lista-usuarios">  
		        CARREGANDO<br />
		        <h:graphicImage value="/resources/img/ajax-loader.gif" />  
		    </p:blockUI>
		</h:form>
		<p:dialog header="Trocar senha de #{usuarioBean.usuarioAnalisado.nome}" widgetVar="userDialog" resizable="false" id="userDlg" showEffect="fade" hideEffect="fade" modal="true" appendToBody="true"> 
			<h:form id="formSenha">
				<p:messages id="msgs" globalOnly="true" autoUpdate="true" closable="true"/>
				<h:panelGrid id="display" columns="3" cellpadding="4" style="margin:0 auto;">
		            <h:inputHidden value="#{usuarioBean.usuarioAnalisado.id}"/>
		            <h:outputLabel value="Senha: " for="campo-senha1" />
					<p:password value="#{usuarioBean.usuarioAnalisado.senha}" id="campo-senha1" required="true" feedback="true"   
	                        promptLabel="Informe sua senha" weakLabel="Fraca"  
	                        goodLabel="Razoável" strongLabel="Forte" match="campo-senha2"/>
					<p:message for="campo-senha1" />
					
					<h:outputLabel value="Repita a senha: " for="campo-senha2" />
					<p:password value="#{usuarioBean.usuarioAnalisado.senha}" id="campo-senha2" required="true" feedback="true"   
	                        promptLabel="Informe sua senha" weakLabel="Fraca"
	                        goodLabel="Razoável" strongLabel="Forte" />
					<p:message for="campo-senha2" />
		        </h:panelGrid>
		        <p:commandButton value="Atualizar senha" update="formSenha" actionListener="#{usuarioBean.trocaSenha}"/>
	        </h:form>
        </p:dialog>
        <p:confirmDialog message="Você tem certeza que deseja deletar #{usuarioBean.usuarioAnalisado.nome}?" header="Você tem certeza" severity="alert" widgetVar="deleteDialog" id="deleteDlg" showEffect="fade" hideEffect="fade" appendToBody="true"> 
			<h:form id="formDelete">
				<h:panelGrid id="deleteDisplay" columns="2" cellpadding="4" style="margin:0 auto;">
		            <p:commandButton value="Sim" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" actionListener="#{usuarioBean.removeUsuario}" oncomplete="deleteDialog.hide();" update=":form:msgs,:form:lista-usuarios" />
					<p:commandButton value="Não" styleClass="ui-confirmdialog-no" icon="ui-icon-close" onclick="deleteDialog.hide();"/>
		        </h:panelGrid>
	        </h:form>
        </p:confirmDialog>
	</ui:define>
</ui:composition>