<ui:composition template="/WEB-INF/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	
	<ui:param name="title" value="Cadastro de Fornecedor" />
	
	<ui:define name="content">	
		<h2>Cadastro de Fornecedor</h2>
		<p:panel header="Preencha o formulário abaixo">
			<h:form>
				<p:messages id="msgs" globalOnly="true"/>
				<h:panelGrid columns="3" id="painel-cadastro">
					<h:outputLabel value="Nome fantasia: " for="campo-nome" />
					<p:inputText value="#{fornecedorBean.fornecedor.nomeFantasia}" id="campo-nome" required="true"/>
					<p:message for="campo-nome" />
					<h:outputLabel value="Razão Social: " for="campo-razaosocial" />
					<p:inputText value="#{fornecedorBean.fornecedor.razaoSocial}" id="campo-razaosocial" required="true"/>
					<p:message for="campo-razaosocial" />
					<h:outputLabel value="CNPJ: " for="campo-cnpj" />
					<p:inputMask value="#{fornecedorBean.fornecedor.cnpj}" id="campo-cnpj" required="true" mask="99.999.999/9999-99"/>
					<p:message for="campo-cnpj" />
					<h:outputLabel value="Dados bancários: " for="campo-dadosbancarios" />
					<p:inputTextarea value="#{fornecedorBean.fornecedor.dadosBancarios}" rows="6" cols="50" id="campo-dadosbancarios"/>
					<p:message for="campo-dadosbancarios" />
				</h:panelGrid>
				<p:commandButton value="Cadastrar" update="painel-cadastro" actionListener="#{fornecedorBean.adicionaFornecedor}" ajax="false"/>
			</h:form>
		</p:panel>
	</ui:define>
</ui:composition>