<ui:composition template="/WEB-INF/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
	
	<ui:param name="title" value="Fornecedores" />
	
	<ui:define name="content">	
		<h2>Lista de Fornecedores</h2>
		<h:form id="form">
			<p:growl id="msgs" showDetail="true" globalOnly="true"/>
			<p:dataTable id="lista-fornecedores" binding="#{tabela}"  value="#{fornecedorBean.appBean.fornecedores}" var="fornecedorAnalisado" emptyMessage="Não há registros..." paginator="true" rows="20"  
                paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" 
                currentPageReportTemplate="{currentPage} de {totalPages}"
                rowsPerPageTemplate="5,10,20,30">
               	<p:column sortBy="#{fornecedorAnalisado.id}" headerText="ID" style="width:5%">
					<h:outputText value="#{fornecedorAnalisado.id}" />
				</p:column>
				<p:column sortBy="#{fornecedorAnalisado.nomeFantasia}" headerText="Nome fantasia" style="width:30%">
					<h:outputText value="#{fornecedorAnalisado.nomeFantasia}" />
				</p:column>
				<p:column sortBy="#{fornecedorAnalisado.razaoSocial}" headerText="Razão social" style="width:30%">
					<h:outputText value="#{fornecedorAnalisado.razaoSocial}" />
				</p:column>
				<p:column sortBy="#{fornecedorAnalisado.dadosBancarios}" headerText="Dados bancários" style="width:35%">
					<h:outputText value="#{fornecedorAnalisado.dadosBancarios}" />
				</p:column>
				<p:column headerText="Ações" style="width:10%">
	                <p:commandButton id="selectButton" update=":providerDlg" oncomplete="providerDialog.show();" icon="ui-icon-search" title="Visualizar">  
						<f:setPropertyActionListener value="#{fornecedorAnalisado}" target="#{fornecedorBean.fornecedorAnalisado}" />
						<f:setPropertyActionListener value="#{tabela.rowIndex}" target="#{fornecedorBean.indiceFornecedorAnalisado}" />
	            	</p:commandButton>
	        	</p:column>
			</p:dataTable>
			<p:blockUI block="lista-fornecedores" trigger="lista-fornecedores">  
		        CARREGANDO<br />
		        <h:graphicImage value="/resources/img/ajax-loader.gif" />  
		    </p:blockUI>
		</h:form>
		<p:dialog header="#{fornecedorBean.fornecedorAnalisado.nomeFantasia}" widgetVar="providerDialog" resizable="false" id="providerDlg" showEffect="fade" hideEffect="fade" modal="true" appendToBody="true">
			<p:layout style="width:1000px;height:400px;" id="layout">
				<p:layoutUnit position="north" size="110" style="border:none;">
					<p:fieldset legend="Dados gerais">
						<p:panelGrid columns="4" style="width: 100%;">
							<h:outputText value="Nome fantasia: " style="font-weight: bold;"/>
							<h:outputText value="Razão social: " style="font-weight: bold;"/>
							<h:outputText value="CNPJ: " style="font-weight: bold;"/>
							<h:outputText value="Dados bancários: " style="font-weight: bold;"/>
							
							<h:outputText value="#{fornecedorBean.fornecedorAnalisado.nomeFantasia}"/>
							<h:outputText value="#{fornecedorBean.fornecedorAnalisado.razaoSocial}"/>
							<h:outputText value="#{fornecedorBean.fornecedorAnalisado.cnpj}"/>
							<h:outputText value="#{fornecedorBean.fornecedorAnalisado.dadosBancarios}"/>
		       			</p:panelGrid>
		       		</p:fieldset>
				</p:layoutUnit>
				<p:layoutUnit position="center">
					<p:messages id="msgsenderecos" globalOnly="true" closable="true"/>
					<p:tabView id="tabView" activeIndex="#{fornecedorBean.activeTab}">
						<p:tab id="tab1" title="Endereços">
							<h:form>
					        	<p:toolbar>
					        		<p:toolbarGroup align="left">
					        			<p:commandButton id="insertAddressButtonDialog" oncomplete="providerDialog.hide();addressDialog.show();" icon="ui-icon-document" value="Novo endereço" actionListener="#{fornecedorBean.zeraEnderecoClienteAnalisado}"/>
									 </p:toolbarGroup>
								</p:toolbar>
							</h:form>
							<h:form>
								<p:dataTable id="lista-enderecos" value="#{fornecedorBean.fornecedorAnalisado.enderecos}" var="endereco" emptyMessage="Não há registros..." paginator="true" rows="5"  
					                paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" 
					                currentPageReportTemplate="{currentPage} de {totalPages}"
					                rowsPerPageTemplate="5,10,20,30">
					               	<p:column sortBy="#{endereco.uf}" style="width:5%">
							            <f:facet name="header">  
							                <h:outputText value="UF" />  
							            </f:facet>  
							            <h:outputText value="#{endereco.uf}" />  
							        </p:column>
							        <p:column sortBy="#{endereco.cidade}" style="width:20%">  
							            <f:facet name="header">  
							                <h:outputText value="Cidade" />  
							            </f:facet>  
							            <h:outputText value="#{endereco.cidade}" />  
							        </p:column>
							        <p:column sortBy="#{endereco.descricao}" style="width:20%">   
							            <f:facet name="header">  
							                <h:outputText value="Nome" />  
							            </f:facet>  
							            <h:outputText value="#{endereco.descricao}" />
							        </p:column>
							        <p:column sortBy="#{endereco.logradouro}" style="width:40%">   
							            <f:facet name="header">  
							                <h:outputText value="Endereço" />  
							            </f:facet>  
							            <h:outputText value="#{endereco.logradouro}, #{endereco.numero} (#{endereco.complemento}) - #{endereco.cep} - #{endereco.bairro}" />  
							        </p:column>
							        <p:column sortBy="#{endereco.cnpj}" style="width:25%">   
							            <f:facet name="header">  
							                <h:outputText value="CNPJ" />  
							            </f:facet>  
							            <h:outputText value="#{endereco.cnpj}" />  
							        </p:column>
					        	</p:dataTable>
								<p:blockUI block="lista-enderecos" trigger="lista-enderecos">  
							        CARREGANDO<br />
							        <h:graphicImage value="/resources/img/ajax-loader.gif" />  
							    </p:blockUI>
							</h:form>
						</p:tab>
			    		<p:tab id="tab2" title="Contatos">
			    			<h:form>
					        	<p:toolbar>
					        		<p:toolbarGroup align="left">
					        			<p:commandButton id="insertContactButtonDialog" oncomplete="providerDialog.hide();contactDialog.show();" icon="ui-icon-document" value="Novo contato" actionListener="#{fornecedorBean.zeraContatoFornecedorAnalisado}"/>
									 </p:toolbarGroup>
								</p:toolbar>
							</h:form>
							<h:form>
								<p:dataTable id="lista-contatos" value="#{fornecedorBean.fornecedorAnalisado.contatos}" var="contato" emptyMessage="Não há registros..." paginator="true" rows="5"  
					                paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" 
					                currentPageReportTemplate="{currentPage} de {totalPages}"
					                rowsPerPageTemplate="5,10,20,30">
					                <p:column sortBy="#{contato.nome}" style="width:30%">
							            <f:facet name="header">
							                <h:outputText value="Nome" />  
							            </f:facet>  
							            <h:outputText value="#{contato.nome}" />  
							        </p:column>
							        <p:column sortBy="#{contato.email}" style="width:30%">
							            <f:facet name="header">
							                <h:outputText value="Email" />  
							            </f:facet>  
							            <h:outputText value="#{contato.email}" />  
							        </p:column>
							        <p:column sortBy="#{contato.telefone}" style="width:20%">
							            <f:facet name="header">
							                <h:outputText value="Telefone" />  
							            </f:facet>  
							            <h:outputText value="#{contato.telefone}" />  
							        </p:column>
							        <p:column sortBy="#{contato.tipoContato}" style="width:20%">
							            <f:facet name="header">
							                <h:outputText value="Tipo de contato" />  
							            </f:facet>  
							            <h:outputText value="#{contato.tipoContato}" />  
							        </p:column>
					        	</p:dataTable>
								<p:blockUI block="lista-contatos" trigger="lista-contatos">  
							        CARREGANDO<br />
							        <h:graphicImage value="/resources/img/ajax-loader.gif" />  
							    </p:blockUI>
							</h:form>
			    		</p:tab>
			    		<p:tab id="tab3" title="Serviços">
				        	<h:form id="formCadastroServico">
					        	<p:toolbar>
					        		<p:toolbarGroup align="left">
					        			<p:selectOneMenu value="#{fornecedorBean.servicoFornecedorAnalisado.id}" style="width: 200px;" id="lista-de-servicos">
					        				<f:selectItem itemLabel="-- Escolha --" itemValue="#{null}" />
					        				<f:selectItems value="#{fornecedorBean.servicosNaoSelecionados}" var="servico" itemValue="#{servico.id}"/>
								        </p:selectOneMenu>
								        <p:commandButton update=":tabView:lista-servicos :tabView:formCadastroServico :msgsenderecos" oncomplete="providerDialog.show();" id="insertServiceButton" icon="ui-icon-document" value="Incluir" actionListener="#{fornecedorBean.adicionaServico}" />
				        				<p:separator />
				        				<p:commandButton id="insertServiceButtonDialog" oncomplete="providerDialog.hide();serviceDialog.show();" icon="ui-icon-document" value="Criar serviço" actionListener="#{fornecedorBean.zeraServicoFornecedorAnalisado}"/>
									 </p:toolbarGroup>
								</p:toolbar>
							</h:form>
							<p:dataList id="lista-servicos" value="#{fornecedorBean.fornecedorAnalisado.servicos}" var="servico" itemType="disc">  
							    #{servico.nome} - #{servico.descritivo}
							</p:dataList>
			    		</p:tab>
					</p:tabView>
				</p:layoutUnit>
			</p:layout>
		</p:dialog>
		<p:dialog header="Adicionar endereço de #{fornecedorBean.fornecedorAnalisado.nomeFantasia}" update=":providerDlg" widgetVar="addressDialog" resizable="false" id="addressDlg" showEffect="fade" hideEffect="fade" modal="true" appendToBody="true">
			<p:toolbar>  
    			<p:toolbarGroup align="left">
    				<p:commandButton onclick="providerDialog.show();addressDialog.hide();" icon="ui-icon-circle-arrow-w" value="Voltar"/>
       			</p:toolbarGroup>
       		</p:toolbar>
       		<p:fieldset legend="Inclusão de endereço">
       			<h:form id="addressForm">
       				<h:panelGrid columns="3">
						<h:outputLabel value="Descrição:" for="campo-descricao"/>
						<p:inputText value="#{fornecedorBean.enderecoFornecedorAnalisado.descricao}" id="campo-descricao"/>
						<p:message for="campo-descricao" />
						
						<h:outputLabel value="CNPJ: " for="campo-cnpj" />
						<p:inputMask value="#{fornecedorBean.enderecoFornecedorAnalisado.cnpj}" id="campo-cnpj" mask="99.999.999/9999-99"/>
						<p:message for="campo-cnpj" />
						
						<h:outputLabel value="Endereço:" for="campo-endereco"/>
						<p:inputText value="#{fornecedorBean.enderecoFornecedorAnalisado.logradouro}" id="campo-endereco"/>
						<p:message for="campo-endereco" />
						
						<h:outputLabel value="Número:" for="campo-numero"/>
						<p:inputText value="#{fornecedorBean.enderecoFornecedorAnalisado.numero}" id="campo-numero"/>
						<p:message for="campo-numero" />
						
						<h:outputLabel value="Complemento:" for="campo-complemento"/>
						<p:inputText value="#{fornecedorBean.enderecoFornecedorAnalisado.complemento}" id="campo-complemento"/>
						<p:message for="campo-complemento" />
						
						<h:outputLabel value="Bairro:" for="campo-bairro"/>
						<p:inputText value="#{fornecedorBean.enderecoFornecedorAnalisado.bairro}" id="campo-bairro"/>
						<p:message for="campo-bairro" />
						
						<h:outputLabel value="Cidade:" for="campo-cidade"/>
						<p:inputText value="#{fornecedorBean.enderecoFornecedorAnalisado.cidade}" id="campo-cidade"/>
						<p:message for="campo-cidade" />
						
						<h:outputLabel value="UF:" for="campo-uf"/>
						<p:selectOneMenu value="#{fornecedorBean.enderecoFornecedorAnalisado.uf}" id="campo-uf">
				            <f:selectItem itemLabel="Acre" itemValue="AC" />
							<f:selectItem itemLabel="Alagoas" itemValue="AL" />
							<f:selectItem itemLabel="Amapá" itemValue="AP" />
							<f:selectItem itemLabel="Amazonas" itemValue="AM" />
							<f:selectItem itemLabel="Bahia" itemValue="BA" />
							<f:selectItem itemLabel="Ceará" itemValue="CE" />
							<f:selectItem itemLabel="Distrito Federal" itemValue="DF" />
							<f:selectItem itemLabel="Espírito Santo" itemValue="ES" />
							<f:selectItem itemLabel="Goiás" itemValue="GO" />
							<f:selectItem itemLabel="Maranhão" itemValue="MA" />
							<f:selectItem itemLabel="Mato Grosso" itemValue="MT" />
							<f:selectItem itemLabel="Mato Grosso do Sul" itemValue="MS" />
							<f:selectItem itemLabel="Minas Gerais" itemValue="MG" />
							<f:selectItem itemLabel="Paraná" itemValue="PR" />
							<f:selectItem itemLabel="Paraíba" itemValue="PB" />
							<f:selectItem itemLabel="Pará" itemValue="PA" />
							<f:selectItem itemLabel="Pernambuco" itemValue="PE" />
							<f:selectItem itemLabel="Piauí" itemValue="PI" />
							<f:selectItem itemLabel="Rio de Janeiro" itemValue="RJ" />
							<f:selectItem itemLabel="Rio Grande do Norte" itemValue="RN" />
							<f:selectItem itemLabel="Rio Grande do Sul" itemValue="RS" />
							<f:selectItem itemLabel="Rondonia" itemValue="RO" />
							<f:selectItem itemLabel="Roraima" itemValue="RR" />
							<f:selectItem itemLabel="Santa Catarina" itemValue="SC" />
							<f:selectItem itemLabel="Sergipe" itemValue="SE" />
							<f:selectItem itemLabel="São Paulo" itemValue="SP" />
							<f:selectItem itemLabel="Tocantins" itemValue="TO" />					             
				        </p:selectOneMenu>
						<p:message for="campo-uf" />
						
						<h:outputLabel value="CEP: " for="campo-cep" />
						<p:inputMask value="#{fornecedorBean.enderecoFornecedorAnalisado.cep}" id="campo-cep" mask="99999-999"/>
						<p:message for="campo-cep" />
						
					</h:panelGrid>
					<p:commandButton update=":providerDlg" id="insertAddressButton" oncomplete="providerDialog.show();addressDialog.hide();" icon="ui-icon-document" value="Incluir" actionListener="#{fornecedorBean.adicionaEndereco}" />
       			</h:form>
       		</p:fieldset>
		</p:dialog>
		<p:dialog header="Adicionar contato de #{fornecedorBean.fornecedorAnalisado.nomeFantasia}" update=":providerDlg" widgetVar="contactDialog" resizable="false" id="contactDlg" showEffect="fade" hideEffect="fade" modal="true" appendToBody="true">
       		<p:toolbar>  
    			<p:toolbarGroup align="left">
    				<p:commandButton onclick="providerDialog.show();contactDialog.hide();" icon="ui-icon-circle-arrow-w" value="Voltar"/>
       			</p:toolbarGroup>
       		</p:toolbar>
       		<p:fieldset legend="Inclusão de contato">
	       		<h:form id="contactForm">
					<h:panelGrid columns="3">
						<h:outputLabel value="Nome:" for="campo-nome"/>
						<p:inputText value="#{fornecedorBean.contatoFornecedorAnalisado.nome}" id="campo-nome" required="true"/>
						<p:message for="campo-nome" />
						
						<h:outputLabel value="Email:" for="campo-email"/>
						<p:inputText value="#{fornecedorBean.contatoFornecedorAnalisado.email}" id="campo-email"/>
						<p:message for="campo-email" />
						
						<h:outputLabel value="Telefone:" for="campo-telefone"/>
						<p:inputMask value="#{fornecedorBean.contatoFornecedorAnalisado.telefone}" id="campo-telefone" mask="(99) 99999-9999" required="true"/>
						<p:message for="campo-telefone" />
						
						<h:outputLabel value="Tipo de contato:" for="campo-tipocontato"/>
						<p:selectOneMenu value="#{fornecedorBean.contatoFornecedorAnalisado.tipoContato}" id="campo-tipocontato">
				            <f:selectItem itemLabel="Administrativo" itemValue="Administrativo" />
				            <f:selectItem itemLabel="Comercial" itemValue="Comercial" />
				            <f:selectItem itemLabel="Compras" itemValue="Compras" />
				            <f:selectItem itemLabel="Diretoria" itemValue="Diretoria" />
				            <f:selectItem itemLabel="Financeiro" itemValue="Financeiro" />
				            <f:selectItem itemLabel="Gerencial" itemValue="Gerencial" />
				            <f:selectItem itemLabel="Presidência" itemValue="Presidência" />
				            <f:selectItem itemLabel="Técnico" itemValue="Técnico" />
				        </p:selectOneMenu>
						<p:message for="campo-tipocontato" />
						
					</h:panelGrid>
					<p:commandButton update=":providerDlg" id="insertContactButton" oncomplete="providerDialog.show();contactDialog.hide();" icon="ui-icon-document" value="Incluir" actionListener="#{fornecedorBean.adicionaContato}" />
				</h:form>
			</p:fieldset>
       	</p:dialog>
       	<p:dialog header="Criar serviço" update=":providerDlg" widgetVar="serviceDialog" resizable="false" id="serviceDlg" showEffect="fade" hideEffect="fade" modal="true" appendToBody="true">
			<p:fieldset legend="Inclusão de serviço">
				<h:form id="serviceForm">
					<h:panelGrid columns="3">
						<h:outputLabel value="Nome:" for="campo-nome"/>
						<p:inputText value="#{fornecedorBean.novoServico.nome}" id="campo-nome" required="true"/>
						<p:message for="campo-nome" />
						
						<h:outputLabel value="Descritivo:" for="campo-descritivo"/>
						<p:inputTextarea value="#{fornecedorBean.novoServico.descritivo}" id="campo-descritivo" required="true" rows="6" cols="50" />
						<p:message for="campo-descritivo" />
						
					</h:panelGrid>
					<p:commandButton update=":providerDlg" id="insertContactButton" oncomplete="providerDialog.show();serviceDialog.hide();" icon="ui-icon-document" value="Incluir" actionListener="#{fornecedorBean.adicionaNovoServico}" />
				</h:form>
			</p:fieldset>
		</p:dialog>
	</ui:define>
</ui:composition>