<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<h1>
		<a>iVIWAX</a>
	</h1>
	<h:panelGroup rendered="#{not empty sessionScope.usuario}">
		<h:form>
			<p:slideMenu backLabel="Voltar">
				<p:menuitem outcome="/index" value="Home" icon="ui-icon-home" />
		        <p:submenu label="Fornecedor" icon="ui-icon-suitcase">
					<p:menuitem value="Visualizar" outcome="/fornecedor/index" icon="ui-icon-note" />
					<p:menuitem value="Novo" outcome="/fornecedor/cadastro" icon="ui-icon-document" />
		        </p:submenu>
		        <p:submenu label="Cliente" icon="ui-icon-star">
					<p:menuitem value="Visualizar" outcome="/cliente/index" icon="ui-icon-note" />
					<p:menuitem value="Novo" outcome="/cliente/cadastro" icon="ui-icon-document" />
		        </p:submenu>
		        <p:submenu label="Processo" icon="ui-icon-tag">
					<p:menuitem value="Visualizar" outcome="/processo/index" icon="ui-icon-note" />
					<p:menuitem value="Novo" outcome="/processo/index" icon="ui-icon-document" />
		        </p:submenu>
		        <p:submenu label="Contrato" icon="ui-icon-document">
					<p:menuitem value="Visualizar" outcome="/contrato/index" icon="ui-icon-note" />
					<p:menuitem value="Novo" outcome="/contrato/index" icon="ui-icon-document" />
		        </p:submenu>
		        <p:submenu label="Usuários" icon="ui-icon-person" rendered="#{usuarioBean.usuarioLogado.admin}">
					<p:menuitem value="Visualizar" outcome="/usuario/index" icon="ui-icon-note" />
					<p:menuitem value="Novo" outcome="/usuario/cadastro" icon="ui-icon-document" />
		        </p:submenu>
		        <p:separator />
		        <p:submenu label="#{sessionScope.usuario.nome}" icon="ui-icon-person">
					<p:menuitem value="Logout" actionListener="#{usuarioBean.registraSaida}" icon="ui-icon-power" ajax="false"/>
		        </p:submenu>
		    </p:slideMenu>
		</h:form>
	</h:panelGroup>
</ui:composition>