<ui:composition template="/WEB-INF/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:param name="title" value="Início" />
	
	<ui:define name="content">	
		<h2>iVIWAX</h2>
		<p>Página inicial</p>
	</ui:define>
</ui:composition>