<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

	<h:head>
		<title>iVIWAX - Login</title>
		<h:outputStylesheet name="style.css" library="css"/>
	</h:head>
	<h:body onload="dlg.show()">
		<h:panelGroup rendered="#{empty sessionScope.usuario}">
			<h:form id="form">
				<p:growl id="growl" showDetail="false" sticky="true" autoUpdate="true" />
			    <p:dialog id="dialog" header="Login iVIWAX" widgetVar="dlg" resizable="false" showEffect="drop" closable="false">  
			        <h:panelGrid columns="2" cellpadding="5"> 
			            <h:outputLabel for="login" value="Login: " />  
			            <p:inputText value="#{usuarioBean.usuarioLogado.login}"   
			                    id="login" required="true" label="login" />
			            <h:outputLabel for="senha" value="Senha: " />  
			            <p:password value="#{usuarioBean.usuarioLogado.senha}"   
			                    id="senha" required="true" label="senha" />
			            <f:facet name="footer">  
			            	<h:panelGroup style="display:block; text-align:right">
				                <p:commandButton ajax="false" id="loginButton" value="Logar" update="messages" actionListener="#{usuarioBean.autentica}"/>
                			</h:panelGroup>
			            </f:facet>
			        </h:panelGrid>
			    </p:dialog>  
			</h:form>
		</h:panelGroup>
		<h:panelGroup rendered="#{not empty sessionScope.usuario}">
			<h:outputText value="Você já está logado..."/>
		</h:panelGroup>
	</h:body>
</html>