<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>iVIWAX - #{title}</title>
	<h:outputStylesheet name="style.css" library="css"/>
</h:head>

<h:body>
	<p:layout fullPage="true">
		<p:layoutUnit position="west" size="200" styleClass="bkg-none">
			<ui:include src="/WEB-INF/partials/header-menu.xhtml">
				<ui:param name="homeActivePage" value="#{homeActivePage}" />
				<ui:param name="fornecedorActivePage"
					value="#{fornecedorActivePage}" />
				<ui:param name="clienteActivePage" value="#{clienteActivePage}" />
				<ui:param name="processoActivePage" value="#{processoActivePage}" />
				<ui:param name="contratoActivePage" value="#{contratoActivePage}" />
			</ui:include>
		</p:layoutUnit>
		<p:layoutUnit position="center" styleClass="bkg-none" id="content">
			<ui:insert name="content">
				Espaço para o conteudo
			</ui:insert>
		</p:layoutUnit>
	</p:layout>
</h:body>
</html>