body {
	background-color: #F1F1F1;
	background-image: url("../resources/img/bkg.png");
}

.bkg-none {
	border: none;
}

.bkg-none,.bkg-none .ui-layout-unit-content {
	background: none;
}

#header-menu {
	position: fixed;
	height: 100%;
	background-color: #191818;
	font-size: 14px;
}

#content .ui-layout-unit-content {
	color: #E0E0E0;
}

.ui-widget,.ui-widget .ui-widget {
	font-size: 0.9em;
}